
            .conf-nome{
                font-family: sans-serif;
            }
            .conf-descricao{
                font-family:monospace;
                margin: 35px;
                padding: 35px;
            }
            body{
                background-color: #CBD4C2;
            }
            .hab1{
                font-size: 17px;
            }
            .hab2{
                font-size: 20px;
            }
            .hab3{
                font-size: 25px;
            }
            .hab-impar{
                font-style:italic;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                text-decoration-line:underline;
            }
            .local-nascimento{
                font-style: italic;
            }
            .bloco-foto{
                float: left;
                padding: 10px;
                background-color: #247ba0;
                margin: 35px;
            }
            #nome{
                text-align: center;
                margin: 35px;
                padding: 35px;
                font-size: 50px;
            }